Repository Donnerstagnacht/polity-instant: changes, and which lint-staged commands are due for each by the changed paths.
All: bash -c 'if [[ "$0" != *"custom-sw.js" ]]; then prettier --write "$0"; eslint --fix "$0"; else prettier --write "$0"; fi', prettier --write

readme
  README.md
  supabase/config.toml
Due: prettier --write

fix upload image
  .github/copilot-instructions.md
  .gitignore
  README.md
  src/components/shared/ImageUpload.tsx
  src/features/amendments/ui/AmendmentEditContent.tsx
  src/features/blogs/hooks/useBlogEditPage.ts
  src/features/blogs/ui/BlogEdit.tsx
  src/features/blogs/ui/CreateBlogForm.tsx
  src/features/events/hooks/useEventUpdate.ts
  src/features/events/ui/EventEdit.tsx
  src/features/groups/hooks/useGroupUpdate.ts
  src/features/groups/ui/GroupEdit.tsx
  src/features/groups/ui/GroupEditForm.tsx
  src/features/users/hooks/useAvatarUpload.ts
  src/features/users/hooks/useUserProfileForm.ts
  src/routes/_authed/create/election-candidate.tsx
  src/routes/_authed/user/$id/settings.tsx
  src/zero/amendments/schema.ts
  src/zero/amendments/table.ts
  src/zero/events/schema.ts
  src/zero/events/table.ts
  src/zero/groups/schema.ts
  src/zero/groups/table.ts
  supabase/config.toml
  supabase/schemas/02_group.sql
  supabase/schemas/03_event.sql
  supabase/schemas/04_amendment.sql
  supabase/schemas/23_storage.sql
  zero.db-shm
  zero.db-wal
Due: bash -c 'if [[ "$0" != *"custom-sw.js" ]]; then prettier --write "$0"; eslint --fix "$0"; else prettier --write "$0"; fi', prettier --write

timeout improvements
  src/components/layout/app-shell.tsx
  src/features/amendments/ui/AmendmentEditContent.tsx
  src/features/blogs/hooks/useBlogEditPage.ts
  src/features/blogs/hooks/useBlogUpdate.ts
  src/features/documents/hooks/useDocumentMutations.ts
  src/features/events/hooks/useEventUpdate.ts
  src/features/groups/hooks/useGroupUpdate.ts
  src/global-state/groups.store.tsx
  src/hooks/use-navigation-progress.ts
  src/navigation/nav-items/nav-item-list.tsx
  tasks/timeout-audit-tasks.md
Due: bash -c 'if [[ "$0" != *"custom-sw.js" ]]; then prettier --write "$0"; eslint --fix "$0"; else prettier --write "$0"; fi', prettier --write

some warning fixes
  app.config.ts
  app/client.tsx
  app/ssr.tsx
  package-lock.json
  package.json
  src/features/timeline/utils/createTimelineEvent.ts
  src/routes/api/mutate.ts
  src/routes/api/query.ts
  src/server/finalize-delegates.ts
  src/server/notifications.ts
  src/server/push-send.ts
  src/server/stripe-cancel-subscription.ts
  src/server/stripe-create-checkout.ts
  src/server/stripe-create-portal.ts
  src/server/stripe-subscription-status.ts
  src/server/stripe-webhook.ts
Due: bash -c 'if [[ "$0" != *"custom-sw.js" ]]; then prettier --write "$0"; eslint --fix "$0"; else prettier --write "$0"; fi', prettier --write

badges feature
  e2e/search/hashtag-search.spec.ts
  src/styles/animations.css
  tasks/hashtag-feature-tasks.md
Due: bash -c 'if [[ "$0" != *"custom-sw.js" ]]; then prettier --write "$0"; eslint --fix "$0"; else prettier --write "$0"; fi', prettier --write

logs config change
  supabase/config.toml
  zero.db-shm
  zero.db-wal
  zero.db-wal2
Due: none

fix security issue
  src/features/amendments/collaborators/utils/collaborator-operations.ts
  src/features/discussions/utils/thread-operations.ts
  src/features/editor/utils/editor-operations.ts
  src/features/editor/utils/version-utils.ts
  src/features/groups/hooks/useGroupUpdate.ts
  src/features/votes/utils/revote-scheduling.ts
  src/features/votes/utils/voting-results.ts
  src/features/votes/utils/voting-utils.ts
  src/utils/groupConversationSync.ts
  src/utils/suggestion-utils.ts
Due: bash -c 'if [[ "$0" != *"custom-sw.js" ]]; then prettier --write "$0"; eslint --fix "$0"; else prettier --write "$0"; fi'

fix subscribtions
  src/features/blogs/hooks/useSubscribeBlog.ts
  src/features/groups/hooks/useSubscribeGroup.ts
  src/zero/amendments/useAmendmentActions.ts
Due: bash -c 'if [[ "$0" != *"custom-sw.js" ]]; then prettier --write "$0"; eslint --fix "$0"; else prettier --write "$0"; fi'

fix permissions
  src/zero/rbac/usePermissions.ts
Due: bash -c 'if [[ "$0" != *"custom-sw.js" ]]; then prettier --write "$0"; eslint --fix "$0"; else prettier --write "$0"; fi'

zero reuseable frontend backend permission system
  src/zero/groups/mutators.ts
  src/zero/groups/useGroupActions.ts
  src/zero/rbac/README.md
  src/zero/rbac/can.ts
  src/zero/rbac/check.ts
  src/zero/rbac/errors.ts
  src/zero/rbac/handleMutationError.ts
  src/zero/rbac/helpers.ts
  src/zero/rbac/index.ts
  src/zero/rbac/usePermissions.ts
Due: bash -c 'if [[ "$0" != *"custom-sw.js" ]]; then prettier --write "$0"; eslint --fix "$0"; else prettier --write "$0"; fi', prettier --write

notiifciation task
  app.config.timestamp_1772179153415.js
  e2e/notifications/notification-settings.spec.ts
  src/i18n/locales/de/navigation.ts
  src/i18n/locales/en/navigation.ts
  src/navigation/nav-items/nav-items-authenticated.tsx
  src/routeTree.gen.ts
  src/routes/_authed/amendment/$id/notifications.tsx
  src/routes/_authed/event/$id/notifications.tsx
  src/routes/_authed/group/$id/notifications.tsx
  src/routes/_authed/user/$id/notification-settings.tsx
  src/routes/_authed/user/$id/settings.tsx
  tasks/entity-notification-system-tasks.md
Due: bash -c 'if [[ "$0" != *"custom-sw.js" ]]; then prettier --write "$0"; eslint --fix "$0"; else prettier --write "$0"; fi', prettier --write

404 page
  app/router.tsx
  src/components/ui/not-found.tsx
  src/routes/$.tsx
  src/routes/__root.tsx
Due: bash -c 'if [[ "$0" != *"custom-sw.js" ]]; then prettier --write "$0"; eslint --fix "$0"; else prettier --write "$0"; fi'

ordereable roles
  src/features/blogs/ui/BlogBloggersManager.tsx
  src/features/blogs/ui/CreateBlogForm.tsx
  src/features/groups/hooks/useGroupMutations.ts
  src/features/groups/hooks/useRoleManagement.ts
  src/features/groups/types/group.types.ts
  src/features/groups/ui/ActiveMembersTable.tsx
  src/features/groups/ui/ChangeRoleDialog.tsx
  src/features/groups/ui/RolesPermissionsTable.tsx
  src/routes/_authed/group/$id/memberships.tsx
  src/zero/groups/mutators.ts
  src/zero/groups/queries.ts
  src/zero/groups/schema.ts
  src/zero/groups/table.ts
  src/zero/groups/useGroupActions.ts
  supabase/migrations/20260227134657_role_order.sql
  supabase/schemas/02_group.sql
Due: bash -c 'if [[ "$0" != *"custom-sw.js" ]]; then prettier --write "$0"; eslint --fix "$0"; else prettier --write "$0"; fi'

fixing operations page
  src/components/todos/kanban-board.tsx
  src/features/documents/hooks/useDocumentMutations.ts
  src/features/editor/hooks/useEditor.ts
  src/features/groups/hooks/useFinancialData.ts
  src/features/groups/hooks/useGroupOperationPage.ts
  src/features/groups/hooks/useGroupPayments.ts
  src/features/groups/ui/AddPaymentDialog.tsx
  src/features/groups/ui/PaymentsSection.tsx
  src/features/groups/ui/TodosSection.tsx
  src/routeTree.gen.ts
  src/routes/_authed/group/$id/editor.tsx
  src/routes/_authed/group/$id/editor/index.tsx
  src/routes/_authed/group/$id/operation.tsx
  src/zero/groups/useGroupState.ts
  supabase/migrations/20260227181000_payment_amount_decimal.sql
  supabase/schemas/12_payment.sql
Due: bash -c 'if [[ "$0" != *"custom-sw.js" ]]; then prettier --write "$0"; eslint --fix "$0"; else prettier --write "$0"; fi'

fixes notifications from membership page
  src/features/amendments/AmendmentWiki.tsx
  src/features/groups/GroupWiki.tsx
  src/features/users/hooks/useUserMemberships.ts
  src/features/users/ui/UserEdit.tsx
  src/i18n/locales/de/navigation.ts
  src/i18n/locales/en/navigation.ts
  src/routeTree.gen.ts
  src/routes/_authed/user/$id/memberships.tsx
  src/routes/_authed/user/$id/settings.tsx
Due: bash -c 'if [[ "$0" != *"custom-sw.js" ]]; then prettier --write "$0"; eslint --fix "$0"; else prettier --write "$0"; fi'

ui create updates
  src/features/create/hooks/useCreateAmendmentForm.tsx
  src/features/create/hooks/useCreateEventForm.tsx
  src/features/create/hooks/useCreateGroupForm.tsx
  src/i18n/locales/de/pages/create/index.ts
  src/i18n/locales/en/pages/create/index.ts
  src/routes/_authed/create/amendment.tsx
  src/routes/_authed/create/event.tsx
  src/routes/_authed/create/group.tsx
Due: bash -c 'if [[ "$0" != *"custom-sw.js" ]]; then prettier --write "$0"; eslint --fix "$0"; else prettier --write "$0"; fi'

create button instead of next
  src/features/create/hooks/useCreateAgendaItemForm.tsx
  src/features/create/hooks/useCreateAmendmentForm.tsx
  src/features/create/hooks/useCreateBlogForm.tsx
  src/features/create/hooks/useCreateElectionCandidateForm.tsx
  src/features/create/hooks/useCreateEventForm.tsx
  src/features/create/hooks/useCreateGroupForm.tsx
  src/features/create/hooks/useCreatePaymentForm.tsx
  src/features/create/hooks/useCreatePositionForm.tsx
  src/features/create/hooks/useCreateStatementForm.tsx
  src/features/create/hooks/useCreateTodoForm.tsx
  src/features/create/ui/CarouselFormLayout.tsx
  src/features/create/ui/CreateFormShell.tsx
  src/features/create/ui/CreateSummaryStep.tsx
  src/features/create/ui/OnePageFormLayout.tsx
  tasks/create-flow-button-refactor-tasks.md
Due: bash -c 'if [[ "$0" != *"custom-sw.js" ]]; then prettier --write "$0"; eslint --fix "$0"; else prettier --write "$0"; fi', prettier --write

nework update1
  src/components/groups/GroupRelationshipsManager.tsx
  src/components/notifications/EntityNotifications.tsx
  src/components/ui/entity-search-bar.tsx
  src/features/amendments/collaborators/ui/CollaboratorsView.tsx
  src/features/events/ui/EventParticipants.tsx
  src/features/groups/GroupWiki.tsx
  src/features/groups/ui/ActiveRelationshipsTable.tsx
  src/features/network/hooks/useNetworkPage.ts
  src/features/network/types/network.types.ts
  src/features/network/ui/CurrentNetworkTab.tsx
  src/features/network/ui/GroupNetworkFlow.tsx
  src/features/network/ui/GroupRelationshipsManager.tsx
  src/features/network/ui/LinkGroupDialog.tsx
  src/features/network/ui/ManageNetworkTab.tsx
  src/features/network/ui/NetworkTabs.tsx
  src/features/network/ui/RightBadge.tsx
  src/features/network/ui/RightFilters.tsx
  src/features/notifications/NotificationsPage.tsx
  src/hooks/useEntitySearch.ts
  src/i18n/locales/de/common.ts
  src/i18n/locales/de/features/network/index.ts
  src/i18n/locales/en/common.ts
  src/i18n/locales/en/features/network/index.ts
  src/routes/_authed/group/$id/memberships.tsx
  src/routes/_authed/group/$id/network.tsx
  src/routes/_authed/group/$id/relationships.tsx
  src/routes/_authed/user/$id/memberships.tsx
  tasks/group-network-page-refactor-tasks.md
Due: bash -c 'if [[ "$0" != *"custom-sw.js" ]]; then prettier --write "$0"; eslint --fix "$0"; else prettier --write "$0"; fi', prettier --write

translations
  src/i18n/locales/de/pages/create/index.ts
  src/i18n/locales/en/pages/create/index.ts
Due: bash -c 'if [[ "$0" != *"custom-sw.js" ]]; then prettier --write "$0"; eslint --fix "$0"; else prettier --write "$0"; fi'

commit
  create/agenda-item/page.tsx
  create/amendment/page.tsx
  create/blog/page.tsx
  create/election-candidate/page.tsx
  create/event/page.tsx
  create/group/page.tsx
  create/page.tsx
  create/position/page.tsx
  create/statement/page.tsx
  create/todo/page.tsx
Due: bash -c 'if [[ "$0" != *"custom-sw.js" ]]; then prettier --write "$0"; eslint --fix "$0"; else prettier --write "$0"; fi'

fixes
  src/features/amendments/hooks/useAmendmentWikiPage.ts
  src/features/amendments/utils/version-utils.ts
  src/features/auth/utils/aria-kai-helpers.ts
  src/features/documents/amendment-editor/utils/document-operations.ts
Due: bash -c 'if [[ "$0" != *"custom-sw.js" ]]; then prettier --write "$0"; eslint --fix "$0"; else prettier --write "$0"; fi'

refactoring
  src/features/discussions/ui/CreateThreadDialog.tsx
  src/features/documents/amendment-editor/ui/DocumentEditorView.tsx
  src/features/documents/hooks/use-suggestion-id-assignment.ts
  src/features/documents/hooks/useAutoSave.ts
  src/features/documents/hooks/useDocumentEditor.ts
  src/features/documents/ui/DocumentEditor.tsx
  src/features/editor/ui/EditorView.tsx
  src/features/file-upload/hooks/use-upload-file.ts
  src/features/file-upload/ui/VideoUpload.tsx
  src/features/navigation/state/use-unread-counts.ts
  src/features/navigation/state/useNavigation.tsx
  src/features/notifications/ui/push-notification-toggle.tsx
  src/features/pwa/hooks/usePushSubscription.ts
  src/features/pwa/ui/index.ts
  src/features/pwa/ui/pwa-install-prompt.tsx
  src/features/shared/hooks/use-instant-upload.ts
  src/features/shared/hooks/use-navigation-progress.ts
  src/features/shared/hooks/useEntitySearch.ts
  src/features/shared/ui/ui-platejs/media-placeholder-node.tsx
  src/layout/app-shell.tsx
Due: bash -c 'if [[ "$0" != *"custom-sw.js" ]]; then prettier --write "$0"; eslint --fix "$0"; else prettier --write "$0"; fi'

blog update
  src/features/blogs/hooks/useBlogEditPage.ts
  src/features/blogs/ui/BlogDetail.tsx
  src/features/blogs/ui/BlogEdit.tsx
  src/features/blogs/ui/BlogEditorView.tsx
  src/features/blogs/ui/CreateBlogForm.tsx
  src/features/editor/hooks/useEditor.ts
  src/features/editor/logic/entity-adapter.ts
  src/features/editor/ui/EditorView.tsx
  src/features/groups/GroupWiki.tsx
  src/features/groups/ui/GroupBlogsAndStatementsPage.tsx
  src/features/notifications/hooks/useNotificationActions.ts
  src/features/payments/ui/SubscriptionsTable.tsx
  src/features/shared/utils/notification-helpers.ts
  src/features/timeline/ui/cards/BlogTimelineCard.tsx
  src/features/users/logic/transformUserData.ts
  src/features/users/types/user.types.ts
  src/features/users/ui/BlogListTab.tsx
  src/features/users/ui/BlogsCard.tsx
  src/features/users/ui/UserWikiContentTabs.tsx
  src/routes/_authed/group/$id/blog/$entryId.tsx
  src/routes/_authed/group/$id/blog/$entryId/editor.tsx
  src/routes/_authed/group/$id/blog/$entryId/index.tsx
  src/routes/_authed/user/$id/blog.tsx
  src/routes/_authed/user/$id/blog/$entryId.tsx
  src/routes/_authed/user/$id/blog/$entryId/editor.tsx
  src/routes/_authed/user/$id/blog/$entryId/index.tsx
  src/routes/_authed/user/$id/memberships.tsx
  src/routes/_authed/user/$id/subscriptions.tsx
  src/zero/blogs/queries.ts
  src/zero/blogs/useBlogState.ts
  src/zero/discussions/schema.ts
  src/zero/discussions/table.ts
  src/zero/relationships.ts
  supabase/migrations/20260228203535_blog-discussions.sql
  supabase/schemas/15_discussion.sql
Due: bash -c 'if [[ "$0" != *"custom-sw.js" ]]; then prettier --write "$0"; eslint --fix "$0"; else prettier --write "$0"; fi'

fixes default pages
  src/features/auth/ui/AccessDenied.tsx
  src/features/shared/ui/ui/contact-dialog.tsx
  src/features/shared/ui/ui/not-found.tsx
  src/i18n/locales/de/common.ts
  src/i18n/locales/de/pages/pricing/index.ts
  src/i18n/locales/en/common.ts
  src/i18n/locales/en/pages/pricing/index.ts
  src/routes/pricing.tsx
  src/routes/support.tsx
Due: bash -c 'if [[ "$0" != *"custom-sw.js" ]]; then prettier --write "$0"; eslint --fix "$0"; else prettier --write "$0"; fi'

group search type ahead
  src/features/create/hooks/useCreateEventForm.tsx
  src/features/create/hooks/useCreatePaymentForm.tsx
  src/features/create/hooks/useCreatePositionForm.tsx
  src/features/create/ui/inputs/GroupSearchInput.tsx
  src/features/create/ui/inputs/index.ts
Due: bash -c 'if [[ "$0" != *"custom-sw.js" ]]; then prettier --write "$0"; eslint --fix "$0"; else prettier --write "$0"; fi'

Path conditions:
  bash -c 'if [[ "$0" != *"custom-sw.js" ]]; then prettier --write "$0"; eslint --fix "$0"; else prettier --write "$0"; fi': any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{json,css,md,html}
