Repository Donnerstagnacht/polity-instant: changes, and which lint-staged commands are due for each by the changed paths.
All: bash -c 'if [[ "$0" != *"custom-sw.js" ]]; then prettier --write "$0"; eslint --fix "$0"; else prettier --write "$0"; fi', prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "bash -c 'if [[ \"$0\" != *\"custom-sw.js\" ]]; then prettier --write \"$0\"; eslint --fix \"$0\"; else prettier --write \"$0\"; fi'"
  ],
  "*.{json,css,md,html}": ["prettier --write"]
}

add notification toggle
  app/notifications/page.tsx
  src/hooks/usePushSubscription.ts
Due: bash -c 'if [[ "$0" != *"custom-sw.js" ]]; then prettier --write "$0"; eslint --fix "$0"; else prettier --write "$0"; fi'

fix 1
  src/components/push-notification-toggle.tsx
Due: bash -c 'if [[ "$0" != *"custom-sw.js" ]]; then prettier --write "$0"; eslint --fix "$0"; else prettier --write "$0"; fi'

fixes 2
  src/components/push-notification-toggle.tsx
  src/hooks/usePushSubscription.ts
Due: bash -c 'if [[ "$0" != *"custom-sw.js" ]]; then prettier --write "$0"; eslint --fix "$0"; else prettier --write "$0"; fi'

fix 3
  app/notifications/page.tsx
Due: bash -c 'if [[ "$0" != *"custom-sw.js" ]]; then prettier --write "$0"; eslint --fix "$0"; else prettier --write "$0"; fi'

first try notifications
  app/api/events/finalize-delegates/route.ts
  app/create/event/page.tsx
  instant.schema.ts
  next.config.mjs
  scripts/seed.ts
  scripts/seeders/delegates.seeder.ts
  scripts/seeders/events.seeder.ts
  src/features/events/EventWiki.tsx
  src/features/events/components/DelegatesOverview.tsx
  src/features/events/hooks/useEventParticipation.ts
  src/hooks/usePushSubscription.ts
  src/utils/delegate-calculations.ts
  src/utils/finalize-delegates.ts
Due: bash -c 'if [[ "$0" != *"custom-sw.js" ]]; then prettier --write "$0"; eslint --fix "$0"; else prettier --write "$0"; fi'

fix
  next-env.d.ts
  src/features/auth/index.ts
Due: bash -c 'if [[ "$0" != *"custom-sw.js" ]]; then prettier --write "$0"; eslint --fix "$0"; else prettier --write "$0"; fi'

fix
  app/amendment/[id]/edit/page.tsx
Due: bash -c 'if [[ "$0" != *"custom-sw.js" ]]; then prettier --write "$0"; eslint --fix "$0"; else prettier --write "$0"; fi'

fix
  app/amendment/[id]/edit/page.tsx
  tsconfig.json
Due: bash -c 'if [[ "$0" != *"custom-sw.js" ]]; then prettier --write "$0"; eslint --fix "$0"; else prettier --write "$0"; fi', prettier --write

fix
  app/amendment/[id]/notifications/page.tsx
Due: bash -c 'if [[ "$0" != *"custom-sw.js" ]]; then prettier --write "$0"; eslint --fix "$0"; else prettier --write "$0"; fi'

fix
  app/amendment/[id]/text/page.tsx
Due: bash -c 'if [[ "$0" != *"custom-sw.js" ]]; then prettier --write "$0"; eslint --fix "$0"; else prettier --write "$0"; fi'

fixed
  app/group/[id]/editor/[docId]/page.tsx
Due: bash -c 'if [[ "$0" != *"custom-sw.js" ]]; then prettier --write "$0"; eslint --fix "$0"; else prettier --write "$0"; fi'

fix
  scripts/types/seeder.types.ts
Due: bash -c 'if [[ "$0" != *"custom-sw.js" ]]; then prettier --write "$0"; eslint --fix "$0"; else prettier --write "$0"; fi'

fix
  src/features/amendments/ui/VoteControls.tsx
Due: bash -c 'if [[ "$0" != *"custom-sw.js" ]]; then prettier --write "$0"; eslint --fix "$0"; else prettier --write "$0"; fi'

fix
  src/features/groups/ui/MembershipTabs.tsx
Due: bash -c 'if [[ "$0" != *"custom-sw.js" ]]; then prettier --write "$0"; eslint --fix "$0"; else prettier --write "$0"; fi'

fix
  next-env.d.ts
Due: bash -c 'if [[ "$0" != *"custom-sw.js" ]]; then prettier --write "$0"; eslint --fix "$0"; else prettier --write "$0"; fi'

fix
  src/features/search/hooks/useSearchData.ts
  src/features/search/ui/AmendmentSearchCard.tsx
  src/features/user/ui/AmendmentsCard.tsx
Due: bash -c 'if [[ "$0" != *"custom-sw.js" ]]; then prettier --write "$0"; eslint --fix "$0"; else prettier --write "$0"; fi'

fix link issues
  scripts/seeders/agendaAndVoting.seeder.ts
  scripts/seeders/cleanDatabase.seeder.ts
  scripts/seeders/eventVotingSessions.seeder.ts
  scripts/seeders/follows.seeder.ts
  scripts/seeders/payments.seeder.ts
  scripts/seeders/subscriptions.seeder.ts
  scripts/types/seeder.types.ts
Due: bash -c 'if [[ "$0" != *"custom-sw.js" ]]; then prettier --write "$0"; eslint --fix "$0"; else prettier --write "$0"; fi'

editor
  db/schema/common.ts
  scripts/seeders/agendaAndVoting.seeder.ts
  scripts/seeders/timelineEvents.seeder.ts
  scripts/types/seeder.types.ts
  src/features/amendments/document-editor/hooks/useDocumentEditor.ts
  src/features/amendments/document-editor/hooks/useDocumentPresence.ts
  src/features/amendments/document-editor/hooks/useEditorUsers.ts
  src/features/amendments/ui/ModeSelector.tsx
  src/features/amendments/ui/VersionControl.tsx
  src/features/blogs/hooks/useBlogEditor.ts
  src/features/blogs/ui/ModeSelector.tsx
  src/features/blogs/ui/VersionControl.tsx
  src/features/documents/ui/VersionControl.tsx
  src/features/groups/hooks/useDocumentEditor.ts
  src/features/groups/hooks/useDocumentPresence.ts
  src/features/timeline/hooks/useSubscribedTimeline.ts
  src/features/timeline/hooks/useSubscriptionTimeline.ts
  src/features/timeline/ui/ModernTimeline.tsx
  tasks/vote-election-agenda-linking-tasks.md
Due: bash -c 'if [[ "$0" != *"custom-sw.js" ]]; then prettier --write "$0"; eslint --fix "$0"; else prettier --write "$0"; fi', prettier --write

fixes
  scripts/types/seeder.types.ts
  src/features/search/SearchPage.tsx
  src/features/search/hooks/useSearchData.ts
  tasks/vote-election-agenda-linking-tasks.md
Due: bash -c 'if [[ "$0" != *"custom-sw.js" ]]; then prettier --write "$0"; eslint --fix "$0"; else prettier --write "$0"; fi', prettier --write

updates
  app/event/[id]/agenda/[agenda_item_id]/page.tsx
  db/rbac/constants.ts
  db/rbac/helpers.ts
  db/rbac/index.ts
  db/rbac/types.ts
  db/rbac/usePermissions.ts
  db/schema/agendas.ts
  db/schema/amendments.ts
  scripts/seeders/agendaAndVoting.seeder.ts
  src/features/events/hooks/useAgendaItemVoting.ts
  src/features/events/hooks/useEventAgendaItem.ts
  src/features/events/hooks/useEventParticipants.ts
  src/features/events/types/agenda-section-types.ts
  src/features/events/ui/AgendaElectionSection.tsx
  src/features/events/ui/AgendaItemContextCard.tsx
  src/features/events/ui/AgendaSpeakerListSection.tsx
  src/features/events/ui/AgendaVoteSection.tsx
  src/features/events/ui/EventAgendaItemDetail.tsx
  src/features/timeline/hooks/useDecisionTerminal.ts
  src/features/timeline/ui/cards/ElectionTimelineCard.tsx
  src/features/timeline/ui/cards/VoteTimelineCard.tsx
  src/features/timeline/ui/terminal/DecisionRow.tsx
  src/features/timeline/ui/terminal/DecisionSidePanel.tsx
  src/features/timeline/ui/terminal/MobileDecisionCard.tsx
  src/features/timeline/ui/terminal/types.ts
  src/i18n/locales/de/common.ts
  src/i18n/locales/de/features/events/index.ts
  src/i18n/locales/de/features/timeline/index.ts
  src/i18n/locales/en/common.ts
  src/i18n/locales/en/features/events/index.ts
  src/i18n/locales/en/features/timeline/index.ts
  tasks/agenda-item-vote-election-linking-tasks.md
Due: bash -c 'if [[ "$0" != *"custom-sw.js" ]]; then prettier --write "$0"; eslint --fix "$0"; else prettier --write "$0"; fi', prettier --write

fix error that tests
  e2e/messages/mobile-responsive.spec.ts
  tasks/NOTIFICATION-SYSTEM-SPECIFICATION.md
  tasks/PUSH-NOTIFICATIONS.md
  tasks/PWA-GUIDE.md
Due: bash -c 'if [[ "$0" != *"custom-sw.js" ]]; then prettier --write "$0"; eslint --fix "$0"; else prettier --write "$0"; fi', prettier --write

e2e tests and refactored auth
  e2e/aria-kai.ts
  e2e/auth/TEST-RESTRUCTURING-SUMMARY.md
  e2e/auth/auth-full-flow-end-to-end.spec.ts
  e2e/auth/auth-login-first-time-with-onboarding.spec.ts
  e2e/auth/auth-login-returning-user.spec.ts
  src/features/auth/constants.ts
  src/features/auth/index.ts
  src/features/auth/ui/LoginForm.tsx
  src/features/auth/ui/VerifyForm.tsx
  src/features/auth/ui/onboarding/OnboardingWizard.tsx
  src/features/auth/ui/onboarding/useOnboarding.ts
  src/features/auth/utils/aria-kai-helpers.ts
  src/features/auth/utils/useAuthLogin.ts
  src/features/auth/utils/useAuthVerification.ts
  src/features/auth/utils/user-initialization-helpers.ts
  src/features/timeline/utils/createTimelineEvent.ts
  src/i18n/locales/de/features/auth/index.ts
  src/i18n/locales/en/features/auth/index.ts
Due: bash -c 'if [[ "$0" != *"custom-sw.js" ]]; then prettier --write "$0"; eslint --fix "$0"; else prettier --write "$0"; fi', prettier --write

refactor: update search tests and improve filter functionality
  e2e/profile/profile-display-basic-information.spec.ts
  e2e/profile/profile-verify-avatar-display.spec.ts
  e2e/search/clear-search.spec.ts
  e2e/search/empty-states-results.spec.ts
  e2e/search/entity-type-filtering.spec.ts
  e2e/search/hashtag-search.spec.ts
  e2e/search/load-search-page.spec.ts
  e2e/search/sort-and-filter-options.spec.ts
  e2e/search/type-ahead-search.spec.ts
  src/features/search/ui/SearchHeader.tsx
Due: bash -c 'if [[ "$0" != *"custom-sw.js" ]]; then prettier --write "$0"; eslint --fix "$0"; else prettier --write "$0"; fi'

tests fixed
  e2e/search/clear-search.spec.ts
  e2e/search/entity-type-filtering.spec.ts
  src/features/search/ui/SearchHeader.tsx
  src/i18n/locales/de/common.ts
  src/i18n/locales/en/common.ts
Due: bash -c 'if [[ "$0" != *"custom-sw.js" ]]; then prettier --write "$0"; eslint --fix "$0"; else prettier --write "$0"; fi'

fix search tests
  e2e/search/clear-search.spec.ts
  e2e/search/sort-and-filter-options.spec.ts
  e2e/seed.spec.ts
Due: bash -c 'if [[ "$0" != *"custom-sw.js" ]]; then prettier --write "$0"; eslint --fix "$0"; else prettier --write "$0"; fi'

gitignore update
  .gitignore
Due: none
